## Pandas
#### Documentation: https://pandas.pydata.org/pandas-docs/stable/

#### Create Dataframe

In [24]:
import pandas as pd
data = [2,4,6,8,10]
df = pd.DataFrame(data)
print(df)

    0
0   2
1   4
2   6
3   8
4  10

#### Create dataframe from lists

In [25]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [26]:
data = [2,4,6,8,10]
df = pd.DataFrame(data, dtype=float)
print(df)

      0
0   2.0
1   4.0
2   6.0
3   8.0
4  10.0

In [27]:
data = [['Dog','Bark'],['Cat','Meow'],['Lion','Roar']]
df = pd.DataFrame(data,columns=['Animal','Sound'])
print(df)

  Animal Sound
0    Dog  Bark
1    Cat  Meow
2   Lion  Roar

#### Create dataframes from dictionaries

In [28]:
data = [{'Animal': 'Dog', 'Sound': 'Bark'},{'Animal': 'Cat', 'Sound': 'Meow'}, {'Animal': 'Lion', 'Sound': 'Roar'}]
animal = pd.DataFrame(data, index=['first', 'second', 'third'])
print(animal)

       Animal Sound
first     Dog  Bark
second    Cat  Meow
third    Lion  Roar

#### Select column

In [29]:
animal['Sound']

first     Bark
second    Meow
third     Roar
Name: Sound, dtype: object

#### Select rows

In [30]:
animal[1:3]

       Animal Sound
second    Cat  Meow
third    Lion  Roar

In [31]:
animal.loc['second']

Animal     Cat
Sound     Meow
Name: second, dtype: object

In [32]:
animal.iloc[0]

Animal     Dog
Sound     Bark
Name: first, dtype: object

#### Append row

In [33]:
animal2 = pd.DataFrame([{'Animal': 'Tiger', 'Sound': 'Growl'}], index=['fourth'])
animal = animal.append(animal2)
print(animal)

       Animal  Sound
first     Dog   Bark
second    Cat   Meow
third    Lion   Roar
fourth  Tiger  Growl

#### Delete row

In [34]:
animal = animal.drop('fourth')
print(animal)

       Animal Sound
first     Dog  Bark
second    Cat  Meow
third    Lion  Roar

#### Column Addition

In [35]:
data = [[1,2],[3,4],[5,6]]
df = pd.DataFrame(data,columns=['col1','col2'])
print(df)

   col1  col2
0     1     2
1     3     4
2     5     6

In [36]:
df['col3'] = df['col1'] + df['col2']
print(df)

   col1  col2  col3
0     1     2     3
1     3     4     7
2     5     6    11

#### Delete column (using del)

In [37]:
del df['col3']
print(df)

   col1  col2
0     1     2
1     3     4
2     5     6

#### Delete column (using .pop)

In [38]:
df.pop('col2')
print(df)

   col1
0     1
1     3
2     5

#### Read csv

In [39]:
dataframe = pd.read_csv('test.csv', names=['col1','col2'])

In [40]:
data = [[1,2],[3,4],[5,6]]
dataframe = pd.DataFrame(data,columns=['col1','col2'])
print(dataframe)

   col1  col2
0     1     2
1     3     4
2     5     6

In [41]:
dataframe

   col1  col2
0     1     2
1     3     4
2     5     6

#### .apply() to manipulate elements in dataframe

In [42]:
import numpy as np
df1 = dataframe.apply(np.sqrt)
print(df1)

       col1      col2
0  1.000000  1.414214
1  1.732051  2.000000
2  2.236068  2.449490

In [43]:
import numpy as np
df2 = dataframe.apply(np.sum, axis = 0)
print(df2)

col1     9
col2    12
dtype: int64

In [44]:
df2 = dataframe.apply(np.sum, axis = 1)
print(df2)

0     3
1     7
2    11
dtype: int64